*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#mooc execises
metropolia-metropolia-java1-alm-2017/
/Timetester/nbproject/private/
/Timetester/build/
/RPNCalculator/nbproject/private/
/RPNCalculator/build/
/Queue/nbproject/private/
/Queue/build/
/Gradlejavatest/build/
/Gradlejavatest/.nb-gradle/
/Gradlejavatest2/build/
/DynamicalList/nbproject/private/
/DynamicalList/build/
/web-demo/build/
/web-demo/.nb-gradle/
/DoublyLinkedList/nbproject/private/
/DoublyLinkedList/build/